<?js
    self = this;
?>
<section>
    <h3 class="subsection-title">Class Index</h3>
    <div class="overviewContainer">

    <ul>
        <?js
            for(var c in classes)
            {
                var class = classes[c];
        ?>
        <li>
            <a href="<?js= class.url  ?>">
                <?js= class.name ?>
            </a>
        </li>
        <?js } ?>
    </ul>
    </div>
</section>
