<?js
    self = this;
?>
<section>
    <h3 class="subsection-title"><?js= title ?> Index</h3>
    <div class="overviewContainer">

    <ul>
        <?js
            for(var i in indexed)
            {
                var entry = indexed[i];
        ?>
        <li>
            <a href="<?js= entry.url  ?>">
                <?js= entry.name ?>
            </a>
        </li>
        <?js } ?>
    </ul>
    </div>
</section>
