<?js
    var self = this;
    docs.forEach(function(doc, i) {
?>

<section>

    <header>
        <h2>
            <?js if (doc.ancestors && doc.ancestors.length) { ?>
                <span class="ancestors">
                    <?js= doc.ancestors.join('') ?>
                </span>
            <?js } ?>

            <?js= doc.name ?>

        </h2>
    </header>
</section>

<?js });?>