a
{
    color: #444;
}

header
{
    display: block;
    padding: 6px 4px;
}

#main
{
    float: left;
    width: 100%;
}

#docu-navbar
{
    background: -webkit-linear-gradient(#EEEEEE, #999999);
    background: -o-linear-gradient(#EEEEEE, #999999);
    background: -moz-linear-gradient(#EEEEEE, #999999);
    background: linear-gradient(#EEEEEE, #999999);
    border-style:solid;
    border-color:#B9B9B9;
    border-width:1px 0px;
    text-align:center;
    vertical-align:middle;
}

#docu-navbar a
{
    line-height:40px;
    text-decoration: none;
    padding:20px;
    font-size:120%;

}

.class-description {
    font-style: italic;
    margin-bottom: 1em;
    margin-top: 1em;
}

.class-summary
{
    display: block;
    float: right;
    margin-right: 0px;
    width: 300px;
    border-left: 1px solid #ccc;
    padding: 0px 9px;
}

.method-container
{
    background-color: #dddddd;
    border-radius: 5px;
    border: 1px dotted black;
    margin: 3px;
    padding: 5px;
}

section
{
    display: block;
    padding: 6px 12px;
    border-bottom: 1px solid #ccc;
    margin-right: 320px;
}

.variation {
    display: none;
}

.optional:after {
    content: "opt";
    font-size: 60%;
    color: #aaa;
    font-style: italic;
    font-weight: lighter;
}

footer {
    display: block;
    padding: 6px;
    margin-top: 12px;
    font-style: italic;
    font-size: 90%;
}

h1
{
    margin:0;
    font-size: 150%;
    font-weight: bold;
    padding: 6px;
    background:#EEEEEE;
    border-style:solid;
    border-color:#B9B9B9;
    border-width:1px 0;
}

h2
{
    font-size: 140%;
    font-weight: bold;
    padding: 6px 0 0;
}

h3
{
    font-size: 130%;
    font-weight: bold;
    padding: 5px 0 0;
}

h4
{
    font-size: 120%;
    font-weight: bold;
    padding: 4px 0 0;
}

h5, .container-overview .subsection-title
{
    font-size: 110%;
    font-weight: bold;
    padding: 3px 0 0;
}

h6
{
    font-size: 100%;
    padding: 2px 0 0;
    font-style: italic;
}

.ancestors { color: #999; }
.ancestors a
{
    color: #999 !important;
    text-decoration: none;
}

.important
{
    font-weight: bold;
    color: #950B02;
}

.yes-def {
    text-indent: -1000px;
}

.type-signature {
    color: #aaa;
}

.name, .signature {
    font-family: Consolas, "Lucida Console", Monaco, monospace;
}

.details { margin-top: 14px; }
.details dt { width:100px; float:left; border-left: 2px solid #DDD; padding-left: 10px;  padding-top: 6px; }
.details dd { margin-left: 50px; }
.details ul { margin: 0; }
.details ul { list-style-type: none; }
.details li { margin-left: 30px; padding-top: 6px; }

.description {
    margin-bottom: 1em;
    margin-left: -16px;
    margin-top: 1em;
}

.code-caption
{
    font-style: italic;
    font-family: Palatino, 'Palatino Linotype', serif;
    font-size: 107%;
    margin: 0;
}

.prettyprint
{
    border: 1px solid #ddd;
    width: 80%;
    overflow: auto;
}

.prettyprint.source {
    width: inherit;
}

.prettyprint code
{
    font-family: Consolas, 'Lucida Console', Monaco, monospace;
    font-size: 100%;
    line-height: 18px;
    display: block;
    padding: 4px 12px;
    margin: 0;
    background-color: #fff;
    color: #000;
    border-left: 3px #ddd solid;
}

.params, .props
{
    border-spacing: 0;
    border: 0;
    border-collapse: collapse;
}

.params .name, .props .name, .name code {
    color: #004292;
    font-family: Consolas, 'Lucida Console', Monaco, monospace;
    font-size: 100%;
}

.params td, .params th, .props td, .props th
{
    border: 1px solid #ddd;
    margin: 0px;
    text-align: left;
    vertical-align: top;
    padding: 4px 6px;
    display: table-cell;
}

.params thead tr, .props thead tr
{
    background-color: #ddd;
    font-weight: bold;
}

.params .params thead tr, .props .props thead tr
{
    background-color: #fff;
    font-weight: bold;
}

.params th, .props th { border-right: 1px solid #aaa; }
.params thead .last, .props thead .last { border-right: 1px solid #ddd; }

.disabled {
    color: #454545;
}
