html
{
    height:100%;
}

body
{
    border:0;
    padding:0;
    margin:0;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:10pt;
    text-align:center;
    background-color: #939393;
    height:100%;
}

#mainContainerDiv
{
    background-color: white;
    width:90%;
    min-width:1024px;
    margin:0 auto;
    text-align:left;
    min-height:100%;
}

#header-decoration
{
    padding: 24px;
    background: -webkit-linear-gradient(#000B27, #004BBC);
    background: -o-linear-gradient(#000B27, #004BBC);
    background: -moz-linear-gradient(#000B27, #004BBC);
    background: linear-gradient(#000B27, #004BBC);                 
    color:white;
    font-size:150%;
}

#header-navbar
{
    background:black;
    color:#EEEEEE;
    border-style:solid;
    border-color:#B9B9B9;
    border-width:1px 0px;
    font-size:10pt;
    padding:6px;
}

#header-navbar a
{
    color:#EEEEEE;
    text-decoration:none;
    margin:8px;
    padding:6px;
}

#header-navbar a:hover
{
    background:#333333;
}

.x3d-classification
{
    border-radius: 2px;
    border: 1px solid black;
    background-color: lightgrey;
}

.x3d-propname
{
    float: left;
}

.x3d
{
}

.x3d-component
{
    color: blue;
}

.status-full
{
    color: forestgreen;
}

.status-experimental
{
    color: yellow;
}

.status-unsupported
{
    color: red;
}
