html
{
    height:100%;
}

body
{
    border:0;
    padding:0;
    margin:0;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:10pt;
    text-align:center;
    background-color: #939393;
    height:100%;
}

#mainContainerDiv
{
    background-color: white;
    width:90%;
    min-width:1024px;
    margin:0 auto;
    text-align:left;
    min-height:100%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: rgba(0, 0, 0, 0.15) 5px 5px 5px;
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
    border:1px solid gray;
}

#header-decoration
{
    padding: 24px;
    background: -webkit-linear-gradient(#000B27, #004BBC);
    background: -o-linear-gradient(#000B27, #004BBC);
    background: -moz-linear-gradient(#000B27, #004BBC);
    background: linear-gradient(#000B27, #004BBC);                 
    color:white;
    font-size:150%;
}

#header-navbar
{
    background:black;
    color:#EEEEEE;
    border-style:solid;
    border-color:#B9B9B9;
    border-width:1px 0px;
    font-size:10pt;
    padding:6px;
}

#header-navbar a
{
    color:#EEEEEE;
    text-decoration:none;
    margin:8px;
    padding:6px;
}

#header-navbar a:hover
{
    background:#333333;
}

