
<section>
    <h3 class="subsection-title">Class Index</h3>
    <div class="overviewContainer">
        <?js
            var self = this;


        ?>
        <?js
            var classList = [];

            for(var d in docs)
            {
                classList.push(docs[d]);
            };


            classList.sort(function(a, b){
                return (a.name == b.name ? 0 : ((a.name < b.name) ? -1 : 1));
            });

            (function(){
            var currentChar = '@';
            for(var i = 0; i < classList.length; ++i)
            {
                if (classList[i].name[0].toUpperCase() > currentChar)
                {
                    currentChar = classList[i].name[0].toUpperCase();
                ?>
                <h4><?js= currentChar ?></h4>
                <?js } ?>
            <div>
                <?js= self.linkto(classList[i].longname, classList[i].name) ?>
            </div>
        <?js
            }
            })();
        ?>
    </div>

    <br>
    <br>

</section>
