<?js
    var fields = obj;
?>

<div class="dataMemberOverviewContainer">
    <?js
         if (fields && fields.length )
         {
    ?>
        <div class="head-row">
            <span class="head-cell">Name</span>
            <span class="head-cell">Type</span>
            <span class="head-cell">Inheritance</span>
            <span class="head-cell">Description</span>
        </div>

        <?js fields.forEach(function(f){ ?>
        <div class="row">
            <span class="cell table-fieldname"><?js= f.name ?></span>
            <span class="cell">
            <?js=
                    ( f.type && f.type.names && f.type.names.length ) ? f.type.names[0] : "Not found"
            ?>
            </span>
            <span class="cell">
                <?js if(f.inherits)
                     {
                        var inherit = f.inherits.split('#');
                        parent = inherit[inherit.length-2].split('.');
                        if(parent.length)
                        {
                ?>
                <a href="<?js= inherit[inherit.length-2] ?>.html"><?js= parent[parent.length-1] ?></a>
                <?js }} ?>
            </span>
                <span class="cell"><?js= f.description ?></span>
            </span>
        </div>
        <?js }) ?>
    <?js }   ?>
</div>