<?js
    var props = obj;
?>

<div class="dataMemberOverviewContainer">
    <?js
         if (props && props.length )
         {
    ?>
    <div class="head-row">
        <span class="head-cell">Access</span>
        <span class="head-cell">Name</span>
        <span class="head-cell">Type</span>
        <span class="head-cell">Inheritance</span>
        <span class="head-cell">Description</span>
    </div>

    <?js props.forEach(function(p){ ?>
    <div class="row">
        <span class="cell"><?js= p.access ?></span>
        <span class="cell"><?js= p.name ?></span>
        <span class="cell">
            <?js=
                    ( p.type && p.type.names && p.type.names.length ) ? p.type.names[0] : "Not found"
            ?>
        </span>
        <span class="cell">
            <?js if(p.inherits)
                 {
                        var inherit = p.inherits.split('#');
                        parent = inherit[inherit.length-2].split('.');
                        if(parent.length)
                        {
                ?>
            <a href="<?js= inherit[inherit.length-2] ?>.html"><?js= parent[parent.length-1] ?></a>
            <?js }} ?>
        </span>
        <span class="cell"><?js= p.description ?></span>
    </div>
    <?js }) ?>
    <?js }   ?>
</div>