<p>
    This X3DOM full API documentation provides extensive information about the <strong>X3DOM JavaScript API</strong>.
    If you are looking for deeper insight into the internals of X3DOM, or if you want to contribute to the ongoing
    development, this is the right place to start. If you are just interested in the X3DOM Node API, which acts as
     a high-level Application Programming Interface and does not require any JavaScript skills, the
     <a href="http://derp.org">Node API documentation</a>
     might be what you are looking for.
 </p>
<div>
    IMG
</div>
<strong>
    derp
</strong>
