<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>X3DOM Full API Documentation: <?js= title ?></title>
    
    <script src="scripts/prettify/prettify.js"> </script>
    <script src="scripts/prettify/lang-css.js"> </script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link type="text/css" rel="stylesheet" href="styles/prettify-tomorrow.css">
    <link type="text/css" rel="stylesheet" href="styles/jsdoc-x3dom.css">
    <link type="text/css" rel="stylesheet" href="styles/x3dom-docs.css">
</head>

<body>

<div id="header-decoration">
    official x3<strong>dom</strong> documentation
</div>
<div id="header-navbar">
    <a href="http://x3dom.org">x3dom.org</a>
    >
    <a href="http://derp.org/">documentation</a>
    >
    <a href="index.html">Full API</a>
</div>

<div id="docu-navbar">
    <a href="http://derp.org">Components</a>
    <a href="http://derp.org">Classes</a>
    <a href="http://derp.org">Namespaces</a>
</div>

<div id="main">
    
    <h1 class="page-title"><?js= title ?></h1>
    
    <?js= content ?>

</div>

<!--div id="nav">

    <?js= this.nav ?>

</div-->



<footer>
    This X3DOM documentation was generated with the help of <a href="https://github.com/jsdoc3/jsdoc">JSDoc <?js= env.version.number ?></a> on <?js= (new Date()) ?>
</footer>

<script> prettyPrint();</script>

</body>
</html>
