<section>
    <h3 class="subsection-title">Namespace Index</h3>

    <?js
        var self = this;
    ?>

     <div class="overviewContainer">

        <?js
           for(var member in docs)
           {
        ?>
            <div>
                <?js= self.linkto(docs[member].longname, docs[member].longname) ?>
            </div>
        <?js } ?>

     </div>

</section>
